/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*Login */
#LoginBackground{
	-fx-background-image: url("../img/loginbg.jpg");
	-fx-background-size: stretch ;
}
#LoginFrame{
	-fx-background-color: gray;
	-fx-opacity: 0.75 ;	
}
#textFieldUsuario,#textFieldPassword{
	-fx-background-color: rgb(20.0,141.0,204.0);
	-fx-prompt-text-fill: black ;
	-fx-opacity: 1.0 ; 
}
#textFieldUsuario:hover,#textFieldPassword:hover{
	-fx-background-color: rgb(60.0,161.0,224.0);
	-fx-prompt-text-fill: black ;
	-fx-opacity: 1.0 ; 
}

#btnLogin{
	-fx-background-color: rgb(255.0,51.0,68.0);
	-fx-opacity: 1.0 ;
}
#btnLogin:hover,#btnLogin:selected{
	-fx-background-color: rgb(255.0,81.0,98.0);
	-fx-opacity: 1.0 ;
}
#labelAcceder{
		
}

/*--------------------------------------------------- */
/*PEDIDOS */

#listViewCategorias{
	-fx-background-color: rgb(128.0,24.0,21.0);
	-fx-border-width: 1.0px;
	-fx-font-size: 16.0pt;
	-fx-font-weight:bold;
	
}

#panelProductos {
	-fx-border-color: rgb(128.0,24.0,21.0);
	-fx-border-width: 1.0px;
	-fx-background-color: white;
}
#productos {
	-fx-alignment: center !important;
	-fx-border-color: rgb(128.0,24.0,21.0);
	-fx-border-width: 2.5px;
}
#productos:hover {
	-fx-border-color: yellow;
}
#boxCategoria{
	-fx-border-color: rgb(128.0,24.0,21.0);
	-fx-background-color: white;
	-fx-border-width: 3.0px;
	
}
#boxCategoria:hover{
	-fx-border-color: yellow;
	-fx-border-width: 3.0px;
}
#labelCategoria{
	-fx-text-fill: black;
}


#ordenBox{
	-fx-border-color: rgb(128.0,24.0,21.0);
	-fx-background-color: white;
	
}
#labelCategorias{
	-fx-border-color: rgb(128.0,24.0,21.0);
	-fx-border-width: 3.0px;
	-fx-background-color: #cc3300;
	-fx-text-fill: white;	
}
#labelProductos{
	-fx-border-color: rgb(128.0,24.0,21.0);
	-fx-border-width: 3.0px;
	-fx-background-color: rgb(27.0,127.0,178.0);
	-fx-text-fill: white;	
}
#labelPedidoEspecial{
	-fx-border-color: rgb(128.0,24.0,21.0);
	-fx-border-width: 3.0px;
	-fx-background-color: rgb(27.0,127.0,178.0);
	-fx-text-fill: white;	
}

#tableviewPedidoEspecial{
	-fx-border-color: rgb(128.0,24.0,21.0);
}
#tableviewPedidoTotal{
	-fx-border-color: rgb(128.0,24.0,21.0);
	-fx-font-size: 12.0pt;
}
#tableviewPedidoTotal .column-header ,#tableviewPedidoEspecial .column-header{
	-fx-background-color: rgb(168.0,47.0,22.0);
}
#tableviewPedidoTotal .column-header .label, #tableviewPedidoEspecial .column-header .label{
	-fx-text-fill: white;
}

#btnDeshacer{
	-fx-background-color: red;
}
#btnDeshacer:hover{
	-fx-background-color: rgb(2544.0,90.0,90.0);
}

#btnOk{
	-fx-background-color: rgb(0.0,255.0,0.0);
}
#btnOk:hover{
	-fx-background-color: rgb(85.0,252.0,85.0);
}
#root{
		-fx-background-color: whitesmoke ;
}

